/**
 * Nr_materials_detail page styles
 *
 * @author Dmitry Komkov
 */
 
html.nr_materials_detail{
    body{
        .main_wrapper{
            .wrapper{
                position:relative;
                .detail_text_photo_block{                    
                    position:relative;
                    margin-bottom: 47px;
                    
                    &:after{
                        content:'';
                        display:block;
                        clear:both;
                    }
                    .grid_element{
                        width:345px;
                        min-width:345px !important;
                        max-width:502px !important;
                        display:inline-block;  
                        position:relative;
                        float:left;
                        
                                                                          
                        .grid_element_img{
                            position:relative;
                            display:block;
                            background:url("@{imagesPrefix}grid-shadow-large.png") 35px 100% no-repeat;
                            background-size: 296px auto;
                            .background-size(296px auto);
                            padding-bottom:11px;
                            line-height: 0;
                            
                            
                            img{
                                position:relative;
                                display:block;
                                box-sizing: border-box;
                                .box-sizing(border-box);
                                border-radius:50%;
                                .border-radius(50%);
                                overflow:hidden;
                                width:297px;
                                min-width:297px !important;
                                max-width:431px !important;
                                height:297px;
                                min-height:297px !important;
                                max-height:431px !important;
                                
                            }                                   
                            
                        }   
                        .backlink{
                            position:absolute;
                            z-index:2;
                            left:0;
                            top:-102px;
                            width:60px;
                            height:38px;
                            
                            &:before,&:after{
                                content:'';
                                position:absolute;
                                width:100%;
                                height:100%;
                                background:url("@{imagesPrefix}sprite.png") -163px 0 no-repeat;
                                transition: opacity @transitionDuration linear;
                                .transition(opacity @transitionDuration linear);
                            }
                            &:before{
                                filter: alpha(opacity=1);
                                opacity: 1;
                                .opacity(1);
                            }                        
                            &:after{
                                filter: alpha(opacity=0);
                                opacity: 0;
                                .opacity(0);
                                background-position:-163px -38px;
                            }
                            &:hover{
                                &:before{
                                    filter: alpha(opacity=0);
                                    opacity: 0;
                                    .opacity(0);
                                }                        
                                &:after{
                                    filter: alpha(opacity=1);
                                    opacity: 1;
                                    .opacity(1);
                                }
                            }
                        } //.backlink
                        
                    } // .grid_element
                    .grid_text{
                        margin:0 0 0 362px;
                        color:#ffffff;
                        font-size:18px;
                        line-height:24px;
                    }//.grid_text
                    .resizer{
                        position:absolute;
                        z-index:2;
                        left:0;
                        bottom:0;
                        width:34px;
                        height:34px;
                        
                        &:before,&:after{
                            content:'';
                            position:absolute;
                            width:100%;
                            height:100%;
                            background:url("@{imagesPrefix}sprite.png") -129px 0 no-repeat;
                            transition: opacity @transitionDuration linear;
                            .transition(opacity @transitionDuration linear);
                        }
                        &:before{
                            filter: alpha(opacity=1);
                            opacity: 1;
                            .opacity(1);
                        }                        
                        &:after{
                            filter: alpha(opacity=0);
                            opacity: 0;
                            .opacity(0);
                            background-position:-129px -34px;
                        }
                        &:hover{
                            &:before{
                                filter: alpha(opacity=0);
                                opacity: 0;
                                .opacity(0);
                            }                        
                            &:after{
                                filter: alpha(opacity=1);
                                opacity: 1;
                                .opacity(1);
                            }
                        }
                    } //.resizer
                    
                } // .detail_text_photo_block
                .feature_list{
                    text-align:center;                    
                    h2{
                        margin:0 0 45px 0;
                    }
                    
                    .feature_inner{
                        text-align:left; 
                        display:inline-block;
                        vertical-align:top;
                        .feature_item{
                            display:inline-block;
                            vertical-align:top;
                            width:156px;
                            text-align:center;
                            margin:0 14px 44px;
                            
                            .feature_item_icon{
                                position:relative;
                                text-align:center;
                                width:99px;
                                height:99px;
                                border-radius: 50%;
                                .border-radius(50%);
                                background:#2f2f2f;
                                margin:auto;
                                margin-bottom: 9px;
                                
                                img{
                                    width:99px;
                                    height:99px;
                                }
                                
                                .has_char{
                                    cursor:pointer;
                                    position:absolute;
                                    top:-13%;
                                    right:-13%;
                                    border-radius:50%;
                                    .border-radius(50%);
                                    overflow:hidden;
                                    padding:6px;
                                    width:27px;
                                    height:27px;
                                    background:#3a3a37 url("@{imagesPrefix}body-background.png") 0 0 repeat;
                                    
                                    .has_char_inner{
                                        position:relative;                                        
                                        z-index:10000;
                                        border-radius:50%;
                                        .border-radius(50%);
                                        width:100%;
                                        height:100%;
                                        background:#3a3a37 url("@{imagesPrefix}has-char.png") 0 0 repeat;
                                        background-size:100%;
                                        .background-size(100%);
                                    }
                                }
                            }
                            
                            .feature_item_name{
                                color:#9da3a5;
                                font-size:15px;
                                line-height:18px;
                                margin-bottom:8px;
                            }
                            .feature_item_value{
                                color:#ffffff;
                                font-size:18px;
                                line-height:1.3;
                                font-family:'RobotoRegular';
                            }
                            .char_desc{
                                display:none;
                            } // .char_desc
                        } // .feature_item
                    } // .feature_list
                } // .feature_inner
                .dark_side{
                    position:relative;
                    padding:55px 0;
                    background:url("@{imagesPrefix}header-background.png") 0 0 repeat;
                    text-align:center;
                    margin-bottom:35px;
                    
                    h2{
                        margin-top:20px;
                        line-height:28px;
                    }
                    
                    img{
                        width:310px;
                    }
                    
                    &:before,&:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 8px;
                        background: url("@{imagesPrefix}header-spacer.png") 0 0 repeat;
                    }
                    &:before{
                        background: url("@{imagesPrefix}header-spacer-rotate.png") 0 0 repeat;
                        top:-8px;
                    }
                    &:after{
                        bottom:-8px;
                    }
                } // .dark_side
                .calculation{
                    display:inline-block;
                    position:relative;
                    left:50%; 
                    margin-bottom:43px;
                    
                    .label{
                        font-size:18px;
                        color:#fff;
                        text-transform:uppercase;
                        margin-bottom:20px;
                        
                    }
                    
                    ul{
                        font-size:18px;
                        color:#fff;
                        
                        li{
                            margin-bottom:26px;
                            position:relative;
                            padding-left:48px;
                            padding-top:6px;
                            line-height:22px;
                            
                            &:before{
                                content:'';
                                display:inline-block;
                                position:absolute;
                                top:0;
                                left:0;
                                width:34px;
                                height:33px;
                                background:url("@{imagesPrefix}sprite.png") -223px 0 no-repeat;
                            }
                            
                            &.calculation_point_2{
                                &:before{
                                    background-position: -223px -33px;
                                }
                            }
                            &.calculation_point_3{
                                &:before{
                                    background-position: -223px -66px;
                                }
                            }
                        }
                    }
                } // .calculation
                .double_zigzag_wrapper{
                    &:before{
                        display:none;
                    }                    
                }
            }// wrapper
        }// .main_wrapper
    }// body
}// html.nr_materials